@model Interview.Models.Post
@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="~/Content/jquery.tagit.css" rel="stylesheet" type="text/css">

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Post</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PostTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PostContent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostContent, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostContent, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                <div class="row">
                    <label for="myTags" class="control-label col-sm-2">Tags</label>
                    <div class="col-sm-10">
                        <ul id="myTags"></ul>
                        <p class="text-danger" id="tag-val">Must have at least 1 tag.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customjs")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace("PostContent");
            var tags = [];

            $.ajax({
                method: "GET",
                url: "/Posts/GetTags",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        tags.push(data[i]);
                    }
                    $("#myTags").tagit({
                        availableTags: tags,
                        tagLimit: 5,
                        caseSensitive: false,
                        beforeTagAdded: function (event, ui) {
                            if (tags.indexOf(ui.tagLabel) == -1) {
                                return false;
                            }
                            if (ui.tagLabel == "not found") {
                                return false;
                            }
                        },
                        afterTagAdded: function (event, ui) {
                            $("#tag-val").hide();
                        }
                    }); 
                }
            })

        });

    </script>
}
